
@media only screen and (max-width: 600px) {
  .upper :global(svg) {
    vertical-align: text-bottom;
    display: inline-block;
    position: relative;
  }
  nav :global(a.selected) {
    font-weight: bold;
  }
  nav .upper {
    background-color: #1382E9;
    color: white;
    height: 80px;
    line-height: 80px;
    padding: 0 24px;
  }
  nav .upper div {
    float: right;
  }
  nav .lower {
    height: 76px;
    line-height: 76px;
    background-color: white;
    font-size: 20px;
  }
  nav .lower :global(a) {
    margin-left: 24px;
  }
  nav .lower :global(a),
  nav .lower :global(a:visited),
  nav .lower :global(a:hover) {
    color: black;
  }
  nav .lower div {
    float: left;
  }
  nav .upper :global(a),
  nav .upper :global(a:visited),
  nav .upper :global(a:hover) {
    color: white;
    font-size: 20px;
    margin: 0 20px;
  }
  nav div .logo {
    font-size: 33px;
    margin: 0;
    font-weight: 700;
    float: left;
    align-items: center;
  }
  a.button, a.button:visited, a.button:active {
    display: inline;
    background: #1382E9;
    border-radius: 5px;
    padding: 12px 16px;
    font-size: 20px;
    color: white !important;
  }
}
